# Python
venv/
__pycache__/
*.pyc
.env

# Node
node_modules/

# Testes
.pytest_cache/
.coverage

# Logs e banco
*.log
*.db
*.sqlite3

# Build
dist/
build/

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/